body {
  margin: 0;
  font-family: "Sansation", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Sansation";
  src: local("Sansation"),
    url(../fonts/Sansation_Regular.ttf) format("opentype");
}
@font-face {
  font-family: "Sansation";
  font-weight: 700;
  src: local("Sansation"), url(../fonts/Sansation_Bold.ttf) format("opentype");
}
@font-face {
  font-family: "Sansation";
  font-style: italic;
  src: local("Sansation"), url(../fonts/Sansation_Italic.ttf) format("opentype");
}
@font-face {
  font-family: "Sansation";
  font-weight: 300;
  src: local("Sansation"), url(../fonts/Sansation_Light.ttf) format("opentype");
}

code {
  font-family: "Sansation", source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}
