.form__button {
  width: 200px;
  height: 46.88px;
  left: 88px;
  top: 1112.02px;
  color: white;
  background: #ff1282;
  border-radius: 5px;
  border: none;
  width: 200px;
  height: 46.88px;
  font-family: "Sansation";
  font-weight: 300;
}
